# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
.venv/
venv/
env/
ENV/

# Configuration and secrets
.env

# Local Database files
*.db
*.db-journal
*.db-shm
*.db-wal
*.sqlite
*.sqlite3
__pycache__/
*.pyc
posts.db

# IDE / Editor folders
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
